/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/.idea
Supprimerait .idea/inspectionProfiles/
Supprimerait src/Admin/
Supprimerait src/Blog/BlogBundle/BlogBlogBundle.php
Supprimerait src/Blog/BlogBundle/Controller/
Supprimerait src/Blog/BlogBundle/DependencyInjection/
Supprimerait src/Blog/BlogBundle/Resources/config/
Supprimerait src/Blog/BlogBundle/Resources/views/Default/
Supprimerait src/Blog/BlogBundle/Tests/
Supprimerait web/css/
Supprimerait web/js/
